[submodule "Ps-Tools"]
	path = Ps-Tools
	url = https://github.com/outflanknl/Ps-Tools
[submodule "CasperStager"]
	path = CasperStager
	url = https://github.com/ustayready/CasperStager
[submodule "CSExec"]
	path = CSExec
	url = https://github.com/malcomvetter/CSExec
[submodule "CSharpCreateThreadExample"]
	path = CSharpCreateThreadExample
	url = https://github.com/djhohnstein/CSharpCreateThreadExample
[submodule "CSharpScripts"]
	path = CSharpScripts
	url = https://github.com/Arno0x/CSharpScripts
[submodule "CSharpSetThreadContext"]
	path = CSharpSetThreadContext
	url = https://github.com/djhohnstein/CSharpSetThreadContext
[submodule "DnsCache"]
	path = DnsCache
	url = https://github.com/malcomvetter/DnsCache
[submodule "FreshCookees"]
	path = FreshCookees
	url = https://github.com/P1CKLES/FreshCookees
[submodule "GoldenTicket"]
	path = GoldenTicket
	url = https://github.com/ZeroPointSecurity/GoldenTicket
[submodule "Grouper2"]
	path = Grouper2
	url = https://github.com/l0ss/Grouper2
[submodule "Inception"]
	path = Inception
	url = https://github.com/two06/Inception
[submodule "Minidump"]
	path = Minidump
	url = https://github.com/3xpl01tc0d3r/Minidump
[submodule "MiscTools"]
	path = MiscTools
	url = https://github.com/rasta-mouse/MiscTools
[submodule "NamedPipes"]
	path = NamedPipes
	url = https://github.com/malcomvetter/NamedPipes
[submodule "nopowershell"]
	path = nopowershell
	url = https://github.com/bitsadmin/nopowershell
[submodule "Reg_Built"]
	path = Reg_Built
	url = https://github.com/P1CKLES/Reg_Built
[submodule "Rubeus"]
	path = Rubeus
	url = https://github.com/GhostPack/Rubeus
[submodule "RunSharp"]
	path = RunSharp
	url = https://github.com/fullmetalcache/RunSharp
[submodule "SafetyKatz"]
	path = SafetyKatz
	url = https://github.com/GhostPack/SafetyKatz
[submodule "Seatbelt"]
	path = Seatbelt
	url = https://github.com/GhostPack/Seatbelt
[submodule "self-morphing-csharp-binary"]
	path = self-morphing-csharp-binary
	url = https://github.com/bytecode77/self-morphing-csharp-binary
[submodule "Sharp-InvokeWMIExec"]
	path = Sharp-InvokeWMIExec
	url = https://github.com/TheWover/Sharp-InvokeWMIExec
[submodule "Sharp-Suite"]
	path = Sharp-Suite
	url = https://github.com/rvrsh3ll/Sharp-Suite
[submodule "SharpAdidnsdump"]
	path = SharpAdidnsdump
	url = https://github.com/b4rtik/SharpAdidnsdump
[submodule "SharpAttack"]
	path = SharpAttack
	url = https://github.com/jaredhaight/SharpAttack
[submodule "SharpClipHistory"]
	path = SharpClipHistory
	url = https://github.com/FSecureLABS/SharpClipHistory
[submodule "SharpCloud"]
	path = SharpCloud
	url = https://github.com/chrismaddalena/SharpCloud
[submodule "SharpCOM"]
	path = SharpCOM
	url = https://github.com/rvrsh3ll/SharpCOM
[submodule "SharpCompile"]
	path = SharpCompile
	url = https://github.com/SpiderLabs/SharpCompile
[submodule "SharpCradle"]
	path = SharpCradle
	url = https://github.com/anthemtotheego/SharpCradle
[submodule "SharpDomainSpray"]
	path = SharpDomainSpray
	url = https://github.com/HunnicCyber/SharpDomainSpray
[submodule "SharpDoor"]
	path = SharpDoor
	url = https://github.com/infosecn1nja/SharpDoor
[submodule "SharpDPAPI"]
	path = SharpDPAPI
	url = https://github.com/GhostPack/SharpDPAPI
[submodule "SharpDump"]
	path = SharpDump
	url = https://github.com/GhostPack/SharpDump
[submodule "SharpEdge"]
	path = SharpEdge
	url = https://github.com/rvrsh3ll/SharpEdge
[submodule "SharPersist"]
	path = SharPersist
	url = https://github.com/fireeye/SharPersist
[submodule "SharpExec"]
	path = SharpExec
	url = https://github.com/anthemtotheego/SharpExec
[submodule "SharpFruit"]
	path = SharpFruit
	url = https://github.com/rvrsh3ll/SharpFruit
[submodule "SharpHide"]
	path = SharpHide
	url = https://github.com/outflanknl/SharpHide
[submodule "Sharp-SMBExec"]
	path = Sharp-SMBExec
	url = https://github.com/checkymander/Sharp-SMBExec
[submodule "SharpLoadImage"]
	path = SharpLoadImage
	url = https://github.com/b4rtik/SharpLoadImage
[submodule "SharpLocker"]
	path = SharpLocker
	url = https://github.com/Pickfordmatt/SharpLocker
[submodule "SharpLogger"]
	path = SharpLogger
	url = https://github.com/djhohnstein/SharpLogger
[submodule "SharpNeedle"]
	path = SharpNeedle
	url = https://github.com/ChadSki/SharpNeedle
[submodule "SharpPack"]
	path = SharpPack
	url = https://github.com/mdsecactivebreach/SharpPack
[submodule "sharppcap"]
	path = sharppcap
	url = https://github.com/chmorgan/sharppcap
[submodule "SharpPrinter"]
	path = SharpPrinter
	url = https://github.com/rvrsh3ll/SharpPrinter
[submodule "SharpRoast-Parser"]
	path = SharpRoast-Parser
	url = https://github.com/justinbui/SharpRoast-Parser
[submodule "SharpRoast"]
	path = SharpRoast
	url = https://github.com/GhostPack/SharpRoast
[submodule "SharpSCADA"]
	path = SharpSCADA
	url = https://github.com/GavinYellow/SharpSCADA
[submodule "SharpSC"]
	path = SharpSC
	url = https://github.com/djhohnstein/SharpSC
[submodule "SharpSniper"]
	path = SharpSniper
	url = https://github.com/HunnicCyber/SharpSniper
[submodule "SharpSocks"]
	path = SharpSocks
	url = https://github.com/nettitude/SharpSocks
[submodule "SharpSploit"]
	path = SharpSploit
	url = https://github.com/cobbr/SharpSploit
[submodule "SharpSpray"]
	path = SharpSpray
	url = https://github.com/jnqpblc/SharpSpray
[submodule "SharpSSDP"]
	path = SharpSSDP
	url = https://github.com/rvrsh3ll/SharpSSDP
[submodule "SharpTask"]
	path = SharpTask
	url = https://github.com/jnqpblc/SharpTask
[submodule "SharpView"]
	path = SharpView
	url = https://github.com/tevora-threat/SharpView
[submodule "SharpWeb"]
	path = SharpWeb
	url = https://github.com/djhohnstein/SharpWeb
[submodule "SharpWMI"]
	path = SharpWMI
	url = https://github.com/GhostPack/SharpWMI
[submodule "SharPyShell"]
	path = SharPyShell
	url = https://github.com/antonioCoco/SharPyShell
[submodule "SilkETW"]
	path = SilkETW
	url = https://github.com/fireeye/SilkETW
[submodule "SneakyService"]
	path = SneakyService
	url = https://github.com/malcomvetter/SneakyService
[submodule "Stracciatella"]
	path = Stracciatella
	url = https://github.com/mgeeky/Stracciatella
[submodule "taskkill"]
	path = taskkill
	url = https://github.com/malcomvetter/taskkill
[submodule "TCPRelayInjecter2"]
	path = TCPRelayInjecter2
	url = https://github.com/Arno0x/TCPRelayInjecter2
[submodule "TikiTorch"]
	path = TikiTorch
	url = https://github.com/rasta-mouse/TikiTorch
[submodule "Watson"]
	path = Watson
	url = https://github.com/rasta-mouse/Watson
[submodule "Lockless"]
	path = Lockless
	url = https://github.com/GhostPack/Lockless
[submodule "SharpGPOAbuse"]
	path = SharpGPOAbuse
	url = https://github.com/FSecureLABS/SharpGPOAbuse
[submodule "SharpHound3"]
	path = SharpHound3
	url = https://github.com/BloodHoundAD/SharpHound3
[submodule "KittyLitter"]
	path = KittyLitter
	url = https://github.com/djhohnstein/KittyLitter
[submodule "RemoteProcessInjection"]
	path = RemoteProcessInjection
	url = https://github.com/Mr-Un1k0d3r/RemoteProcessInjection
[submodule "SharpFinder"]
	path = SharpFinder
	url = https://github.com/s0lst1c3/SharpFinder
[submodule "PurpleSharp"]
	path = PurpleSharp
	url = https://github.com/mvelazc0/PurpleSharp
[submodule "SharpFiles"]
	path = SharpFiles
	url = https://github.com/fullmetalcache/SharpFiles
[submodule "SharpBlock"]
	path = SharpBlock
	url = https://github.com/CCob/SharpBlock
[submodule "TrustJack"]
	path = TrustJack
	url = https://github.com/jfmaes/TrustJack
[submodule "SpaceRunner"]
	path = SpaceRunner
	url = https://github.com/Mr-B0b/SpaceRunner
[submodule "SharpShares"]
	path = SharpShares
	url = https://github.com/djhohnstein/SharpShares
[submodule "InveighZero"]
	path = InveighZero
	url = https://github.com/Kevin-Robertson/InveighZero
[submodule "SharpMove"]
	path = SharpMove
	url = https://github.com/0xthirteen/SharpMove
[submodule "SharpAppLocker"]
	path = SharpAppLocker
	url = https://github.com/Flangvik/SharpAppLocker
[submodule "CSharpWinRM"]
	path = CSharpWinRM
	url = https://github.com/mez-0/CSharpWinRM
[submodule "SharpChisel"]
	path = SharpChisel
	url = https://github.com/shantanu561993/SharpChisel
[submodule "SharpLoginPrompt"]
	path = SharpLoginPrompt
	url = https://github.com/shantanu561993/SharpLoginPrompt
[submodule "nccfsas"]
	path = nccfsas
	url = https://github.com/nccgroup/nccfsas
[submodule "RunasCs"]
	path = RunasCs
	url = https://github.com/antonioCoco/RunasCs
[submodule "SharpMapExec"]
	path = SharpMapExec
	url = https://github.com/cube0x0/SharpMapExec
[submodule "SharpSphere"]
	path = SharpSphere
	url = https://github.com/JamesCooteUK/SharpSphere
[submodule "SharpRelay"]
	path = SharpRelay
	url = https://github.com/pkb1s/SharpRelay
[submodule "SafetyDump"]
	path = SafetyDump
	url = https://github.com/m0rv4i/SafetyDump
[submodule "MaliciousClickOnceMSBuild"]
	path = MaliciousClickOnceMSBuild
	url = https://github.com/hausec/MaliciousClickOnceMSBuild
[submodule "Farmer"]
	path = Farmer
	url = https://github.com/mdsecactivebreach/Farmer
[submodule "SharpHook"]
	path = SharpHook
	url = https://github.com/IlanKalendarov/SharpHook
[submodule "GetInjectedThreads"]
	path = GetInjectedThreads
	url = https://github.com/Apr4h/GetInjectedThreads
[submodule "SharpCat"]
	path = SharpCat
	url = https://github.com/OG-Sadpanda/SharpCat
[submodule "SharpSword"]
	path = SharpSword
	url = https://github.com/OG-Sadpanda/SharpSword
[submodule "SharpExcelibur"]
	path = SharpExcelibur
	url = https://github.com/OG-Sadpanda/SharpExcelibur
[submodule "CVE-2021-1675"]
	path = CVE-2021-1675
	url = https://github.com/cube0x0/CVE-2021-1675
[submodule "LittleCorporal"]
	path = LittleCorporal
	url = https://github.com/connormcgarr/LittleCorporal
[submodule "OffensiveCSharp"]
	path = OffensiveCSharp
	url = https://github.com/matterpreter/OffensiveCSharp
[submodule "HTTPS_CSharp_Server"]
	path = HTTPS_CSharp_Server
	url = https://github.com/secdev-01/HTTPS_CSharp_Server
[submodule "SharpSQL"]
	path = SharpSQL
	url = https://github.com/mlcsec/SharpSQL
[submodule "SharpTerminator"]
	path = SharpTerminator
	url = https://github.com/mertdas/SharpTerminator
